* {
    text-decoration: none;
    margin: 0px;
}

textarea {
    margin-left: 5px;
    min-width: 240px;
    min-height: 200px;
    color: white;
    font-family: 'Ebrima';
    font-size: 16px;
    background-color: rgba(32, 44, 51, 0.705);
    padding: 10px;
    border-radius: 10px;
}